@charset "UTF-8";

/*  VERSÃO MOBIL FIRST  */

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html{
    height: 100vh;
}

body{
    background: #000 url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

h1{
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 2px #000000c0;
    font-size: 2em;
    
}

main{
    width: 80vw;
    background-color: #ffffffbc;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;

}

img{
    display: block;
    margin: auto;
}

img#fone{display: block;}
img#tablet{display: none;}
img#print{display: none;}
img#pc{display: none;}
img#tv{display: none;}