@charset "UTF-8";

*{
   /* height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #DEF0EE, #9ED6D7);
}

main{
    border-radius: 5px;
    box-shadow: 5px 5px 15px #4e6b6bee;
    background-color: #fff;
    width: 680px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #025959;
    text-align: center;
    text-shadow: 1px 1px 2px #0142429a;
}

h2{
    color:#d1645d; 

}

p{ text-align: justify;

}
